@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");
* {
  box-sizing: border-box; }

body {
  margin: 0; }

p {
  margin: 0; }

.pt-100 {
  padding-top: 1rem; }

.fade {
  opacity: 0; }

.in {
  transition: .5s;
  opacity: 1; }

.pl-100 {
  padding-left: 1rem; }

.pl-50 {
  padding-left: .5rem; }

.text-align-center {
  text-align: center; }

.header-font {
  font-family: "Fjalla One", sans-serif; }

.bg-img {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: -1; }

.info-icon {
  position: absolute;
  z-index: 1;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  overflow: hidden; }
  .info-icon #Artboard-info {
    transition: all .5s ease;
    fill: #000000; }
  .info-icon:hover #Artboard-info {
    transition: all .5s ease;
    fill: #39f1c8; }

.container {
  position: relative;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

@keyframes hover-scaling {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.01); }
  0% {
    transform: scale(1); } }
.bottom-navigation {
  position: absolute;
  text-align: left;
  bottom: 2rem;
  left: 2rem;
  width: calc(100% - 4rem);
  padding: 1rem;
  background: rgba(57, 241, 200, 0.8);
  font-family: "Playfair Display", serif;
  color: white;
  transition: 1s;
  max-height: 90%;
  overflow: scroll;
  z-index: 2; }
  .bottom-navigation:hover {
    cursor: pointer; }
  .bottom-navigation.inactive:hover {
    animation: .5s normal hover-scaling ease-in-out; }

.terminal-font {
  color: #05FF00; }

.description {
  display: none;
  font-weight: 300;
  color: #05FF00;
  font-size: 18px;
  font-family: "Anonymous Pro", serif; }
  .description a {
    text-decoration: none;
    color: #FFFFFF; }
    .description a:hover {
      transition: .5s;
      opacity: .7; }

.dark-background {
  background: rgba(0, 0, 0, 0.8); }

.bold {
  font-weight: bold; }

h1 {
  margin: 0;
  display: inline-block;
  border-bottom: 3px solid #FFFFFF;
  padding-bottom: 1rem; }

.text-shadow {
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.15); }

.title {
  color: white;
  font-family: "Fjalla One", sans-serif;
  font-size: 42px; }

.subhead {
  font-family: "Playfair Display", serif; }

.logo {
  text-align: center; }

.samples {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  padding: 2rem; }

.cursor {
  color: #FFFFFF;
  font-weight: bold; }

@keyframes blinking {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.blink {
  animation: blinking 1s infinite; }

.terminal {
  height: 90%;
  font-family: "Anonymous Pro", serif;
  font-size: 16px; }

.display-none {
  display: none; }

.background-overlay {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); }

.modal {
  width: 50%;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 25%;
  z-index: 4;
  top: 1rem;
  border-radius: 3px;
  font-family: "Playfair Display", serif; }

.close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 20px;
  font-family: arial;
  font-weight: bold; }
  .close-icon:hover {
    cursor: pointer; }

.headshot {
  display: block;
  border-radius: 50%;
  height: 200px;
  margin: 0 auto;
  padding-bottom: 1rem; }

.modal-content {
  padding: 3rem;
  overflow: hidden; }

.button {
  color: #39f1c8;
  border: 2px solid #39f1c8;
  font-family: "Fjalla One", sans-serif;
  font-size: 24px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 2rem;
  display: inline-block;
  background-size: 100% 200%;
  background-image: linear-gradient(to top, #39f1c8 50%, transparent 50%);
  transition: all .5s ease; }
  .button:hover {
    background-position: 0 100%;
    transition: all .5s ease;
    color: #FFFFFF;
    cursor: pointer; }

@media only screen and (max-width: 768px) {
  .bottom-navigation {
    max-height: calc(90% - 70px);
    margin-bottom: calc(1rem + 40px); }

  .modal {
    width: 90%;
    left: 5%;
    max-height: calc(100% - 2rem);
    overflow: scroll; }

  .modal-content {
    padding: 1rem; } }
